<% include ../partials/_header %>

<div class="container pt-2">
    <header class="jumbotron">
        <h1>this is campgrounds page</h1>
        <p>view all our best images from all-over the world</p>
        <p>
            <a class ="btn btn-primary btn-larg" href="/campgrounds/new">add new campground</a>
        </p>

    </header>
    <div class="card-columns">
        <% campgrounds.forEach( (campground) => { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.name%></h5>
                  <p class="card-text"><%= campground.description.substring(0,100) %></p>
                  <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">more info</a>
                </div>
              </div>
            
        <% }) %>

    </div>

</div>
    

<% include ../partials/_footer %>